@import "./variables";
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin position {
    position: absolute;
    left: 50%;
    top: 50%;
}

@mixin jacket {
    border-radius: 10px;
    background-color: $alternate;
}
@mixin em {
    font-style: normal;
    color: $secondary;
    font-size: 20px;
}
@mixin margin-auto {
    margin-right: auto;
    margin-left: auto;
}
@mixin padding {
    // height: 100vh;
    padding: 60px 0px 80px;
}
