@import "./fonts";@import "./variables";
@import "./breakPoints";
.buttons {
  margin: 60px 0px;
  font-family: $volkhov;

  button {
    margin-right: 2rem;
    min-width: 5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    text-transform: capitalize;
    font-size: 30px;
    background-color: $secondary;
    color: $primary;

    &:hover {
      background-color: $primary;
      color: $secondary;
    }
  }
  .active {
    background-color: $primary;
    color: $secondary;
  }

  @include media("<phone") {
    & {
      text-align: center;
    }
  }
}
