@import "./variables";
@import "./mixins";
@import "./fonts";

.Footer {
  color: $secondary;
  background-color: $primary;
  @include flex;
  height: 100px;
  text-transform: capitalize;
  font-family: $poppins;
}
